
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container{
    display: flex;
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: baseline;
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-list{
    display: flex;
    gap: 40px;
}
.header-adress-list{
    display: flex;
    gap: 40px;
}
.header item{
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    content: '' ;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-adress-item{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link{
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
    margin-right: 76px;
    padding: 24px 0;
}
.header-link:hover{
    color: #404bbf;
}
.header-link:focus {
    color: #404bbf;
}
.header-adress{
    font-style: normal;
}
.header-adress-link{
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-adress-link:hover{
color: #404bbf;
}
.header-adress-link:focus{
color: #404bbf;
}
.logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    margin-right: 76px;
}
.studio{
    color: #2e2f42;
}
.section-one{
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.sone-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}
.button{
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.button:hover{
    background-color: #404BBF;
}
.button:focus{
    background-color: #404BBF;
}
.section-two{
    padding: 120px 0;
}
.visual-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    white-space: nowrap;
    border: 0;
}
.stwo-list{
    display: flex;
    gap: 24px;
}
.stwo-item{
    width: calc((100%-72px) / 4);
}
.stwo-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.stwo-small-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    flex-basis: calc((100% - 72px) / 4);
}
.stwo-p{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-three{
    background-color: #f4f4fd;
    padding: 120px 0;
}
.sthree-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.sthree-list{
    display: flex;
    gap: 24px;
}
.sthree-item{
    background-color: #FFFFFF;
        width: calc((100%-72px) / 4);
        border-radius: 0px 0px 4px 4px;
}
.name-position{
    padding: 32px 0;
}
.sthree-small-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;

}
.sthree-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.section-four{
    padding: 120px 0;
}
.sfour-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.sfour-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.sfour-item{
    flex-basis: calc((100% - 72px) / 4);
}
.name-category{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.sfour-small-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.sfour-p{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}
.logo-footer{
    display: inline-block;
    margin-bottom: 16px;
}
.footerstudio{
    color: #F4F4FD;
    display: inline-block;
}
.f-paragraf{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
img{
    display: block
}
.name-position .social-list .social-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    height: 112px;
    margin-bottom: 8px;
}
.logo-paragraf{
    align-items: baseline;
    margin-right: 120px;
}